// component styles are encapsulated and only applied to their components
* {
  color: rgb(0, 0, 0);
}
.cart{
  position: absolute;
  z-index: 1;
  right: 0;
  top: 0;
}
.box-chat{
  position: absolute;
  right: 0;
  bottom: 0;
}
