<div class="panel panel-primary">
    <div class="panel-heading chatbox-heading" data-toggle="collapse" data-target="#demo">
        <span class="glyphicon glyphicon-comment"></span> Chat Box
    </div>
    <div class="panel-body panel-chatbox collapse" id="demo">
        <ul class="chat" #box_chat>
        </ul>
    </div>
    <div class="panel-footer">
        <div class="input-group">
            <input id="btn-input" [(ngModel)]='message' type="text" class="form-control input-sm" placeholder="Type your message here..."
                (keyup.enter)="send()" />
            <span class="input-group-btn">
                <button class="btn btn-warning btn-sm" id="btn-chat" (click)="send()">
                    Send</button>
            </span>
        </div>
    </div>
</div>